{% extends "base-layout.html" %}

{% block content %}
<h1>Videos List</h1>
  <ul class="videos-list">
    {% for url in urls %}
        <li>
            <iframe 
            src="{{ url }}" 
            width="560" height="315" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
            </iframe>
        </li>
    {% endfor %}
    </ul>
{% endblock %}