<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidéos</title>
</head>
<body>
    
  <ul class="videos-list">
    {% for url in urls %}
        <li>
            <iframe 
            src="{{ url }}" 
            width="560" height="315" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
            </iframe>
        </li>
    {% endfor %}
  </ul>

</body>
</html>